# Exemplo de variáveis de ambiente para a atendente_api

# URL base para o serviço de LLM que será consumido pela API.
# Em ambiente de desenvolvimento local, tipicamente aponta para o container do Ollama.
DATABASE_URL="postgresql://user:password@localhost:5433/vizu_db"
